<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.boot.dao.user.SysUserMapper">

    <resultMap type="com.frank.boot.domain.user.SysUser" id="userResultMap">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="user_enable" property="userEnable"/>
        <result column="head_portrait" property="headPortrait"/>
        <result column="rel_name" property="relName"/>
        <result column="mobile" property="mobile"/>
        <result column="phone" property="phone"/>
        <result column="fax" property="fax"/>
        <result column="email" property="email"/>
        <result column="qq" property="qq"/>
        <result column="msn" property="msn"/>
        <result column="birthdate" property="birthdate"/>
        <result column="note" property="note"/>
        <result column="duty" property="duty"/>
        <result column="dutyName" property="dutyName"/>
        <collection property="roles" ofType="com.frank.boot.domain.user.SysRole" select="selectRole" column="id">
        </collection>
    </resultMap>

    <select id="selectRole" parameterType="int" resultType="com.frank.boot.domain.user.SysRole">
        select
            sr.id,
            sr.role_key,
            sr.role_name,
            sr.role_note,
            sr.permissions,
            sr.menuids
        from  sys_user_role sur
        left join sys_role sr on sr.id = sur.role_id where sur.user_id = #{id}
    </select>
    <select id="selectUserInfoByUserId" resultMap="userResultMap">
        
		select
            ur.id,
            ur.user_name,
            ur.pass_word,
            ur.rel_name,
            ur.mobile,
            ur.phone,
            ur.fax,
            ur.email,
            ur.qq,
            ur.msn,
            ur.birthdate,
            ur.note,
            ur.duty,
            case when ur.duty = 3 then '公司管理' when ur.duty = 2 then '部门管理' when ur.duty = 1 then '员工' else null end as dutyName,
            user_enable
        from sys_user ur 
		where ur.user_name = #{userName}
    </select>
</mapper>
